// colores base
$bl: white;
$ng: black;
$nc: #191919;
$ao: #0d0f16;
$am: #131722;
$ac: #1e73be;
//dispositivos
$telefono: 480px;
$tablet: 768px;
$portatil: 1100px;
//fuente
$fuente: "Patrick Hand", cursive;

//
$url: "https://picsum.photos/180/250";
