@import "./utility/normalize";
@import "./utility/variables";
@import "./utility/mixins";
@import "./layout/header";
@import "./layout/pelisPopulares";
@import "./layout/seriesPopulares";
html {
  box-sizing: border-box;
  font-family: $fuente;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: $bl;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: $bl;
}
