@import "./utility/normalize";
@import "./utility/variables";
@import "./utility/mixins";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/pagesStyles/sections";
@import "./layout/pagesStyles/listado";
@import "./layout/pagesStyles/top250";
@import "./layout/pagesStyles/busqueda";
html {
    box-sizing: border-box;
    font-family: $fuente;
    min-height: 100vh;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    color: $bl;

    @include telefono {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4 {
    text-align: center;
    color: $bl;
}
h2 {
    @include tablet {
        font-size: 1.8rem !important;
    }
    @include telefono {
        font-size: 1.5625rem !important;
    }
}
h3 {
    @include tablet {
        font-size: 1.2rem;
    }
    @include telefono {
        font-size: 1rem;
    }
}
.imagen {
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.descripcion {
    @include flex(column);

    p {
        margin: 0;
        color: grey;
        font-weight: 300;
        font-size: 12px;
    }
    h3 {
        margin: 10px 0;
        a {
            color: $bl;
        }
    }
    .generos {
        @include flex(row);
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        .agregar {
            background-color: transparent;
            border: none;
            color: $ac;
            font-size: 1.5rem;
            cursor: pointer;
            @include telefono {
                font-size: 1.2rem;
            }
        }
    }
}
.boton {
    margin: 0;
    // padding: 0;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-color: $ac;
    color: $bl;
    padding: 5px 10px;
    border-radius: 5px;
}
