.contenedor-busqueda {
    display: none;
}
#contenedor-busqueda {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}
